.chatBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  width: 100%;

  .chatHeader {
    border: 1px solid;
  }

  .chatMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;
    height: 100%;

  }
}