.container {
  display: flex;
  border: 1px solid;
  margin: 5px 0;
  width: auto;
  background-color: #fff;

  &:hover {
    background-color: #f2f2f2;
  }

  .item {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;

    .name {
      width: 95%;
      display: flex;
      justify-content: space-between;
    }

    .message {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      width: 90%;
      text-overflow: ellipsis;
    }
  }
}