.container {
  display: flex;
  margin: 5px 5px;
  height: 55px;
  background-color: #f3f3f3;
  border: 1px solid #c9c9c9;
  border-radius: 7px;
  text-align: start;

  &.active {
    background-color: #e1e1e1;
  }

  &:hover {
    background-color: #f2f2f2;
  }

  .item {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border-radius: 5px;


    .name {
      display: flex;
      justify-content: space-between;
    }

    .message {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #8c8c8c;
    }
  }
}

